.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #212133);
  color: white;
  padding: 20px;
}

.setup-section {
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  
}

.setup-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffcc00;
  
}

.form-group {
  margin: 20px 0;
  text-align: left;
  
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  
  
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.15); 
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
#host::placeholder,
#username::placeholder,
#password::placeholder {
  color: white;
}


.form-group input:focus {
  outline: none;
  background: white;
  box-shadow: 0 0 8px rgba(255, 204, 0, 0.8);
  
  
}

.form-group input:hover {
  background: rgb(114, 114, 114);

  
}

.submit-button {
  margin-top: 25px;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #ffcc00;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(255, 204, 0, 0.3);
  
}

.submit-button:hover {
  background: #ffaa00;
  box-shadow: 0 5px 15px rgba(255, 170, 0, 0.5);
}
