<p>students Table:</p>   
<div *ngIf="tables.length > 0" > 
<div *ngFor="let table of tables" > 
<table border="1" *ngIf="table === 'students'"> 
<thead > 
<tr> 
<th *ngFor="let column of getColumns(table)">{{ column }}</th> 
<th>Actions</th> 
</thead> 
<tbody> 
<tr *ngFor="let row of dataMap[table]" > 
<td *ngFor="let column of getColumns(table)" >{{ row[column] }}</td> 
<td>  
   <button (click)="viewstudents(row)"class="btn"><i class="fas fa-eye"></i>View</button>  
   <button (click)="updatestudents(row)"class="btn"><i class="fas fa-pencil-alt"></i>Update</button>  
   <button (click)="deletestudents(row._id)"class="btn"><i class="fas fa-trash-alt"></i>delete</button>  
</td>  
</tr> 
</tbody> 
</table> 
</div> 
</div> 
